.dashboard-card{

    background:white;

    border-radius:20px;

    padding:30px;

    text-align:center;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0 10px 25px rgba(0,0,0,0.08);

}

.dashboard-card:hover{

    transform:translateY(-6px);

    box-shadow:0 18px 35px rgba(108,99,255,.18);

}

.card-icon{

    font-size:42px;

    margin-bottom:15px;

}

.dashboard-card h2{

    color:#6c63ff;

}

.dashboard-card p{

    color:gray;

}